# Package Files #
*.jar
*.war
*.ear

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows shortcuts
*.lnk
/target/
/test-output/
*.log
.settings/